pandas==2.2.3
numpy==1.26.4
scikit-learn==1.5.2
joblib==1.4.2
matplotlib==3.9.2
seaborn==0.13.2
plotly==5.24.1
kaleido==0.2.1
streamlit==1.39.0
lightgbm==4.5.0
catboost==1.2.7
xgboost==2.1.1
pyarrow==17.0.0
python-dateutil==2.9.0.post0
